<section class="parallax parallax-1" id="about">
  <div class="container">
    <h1>about</h1>
  </div>
</section>

<section class="content">
  <div class="container">
    <div class="media-body">
      <p>
        I'm a software engineer who grew up in the East Bay and
        has lived in the South Bay for the last ten years. While 
        working as a barista and then coffee roaster, I went to 
        college part time. I got into CS classes and was offered 
        an internship. I opted to start working in the industry instead of 
        finishing school. When that began to not feel
        challenging anymore, I set out to learn web development. 
        Recently, I've just finished a course at AppAcademy.
      </p>
      <p>
        I code because it's enjoyable, because I like to solve interesting 
        problems, and because I like to make things. 
      </p>
    </div>
  </div>
</section>
      
<section class="parallax parallax-2" id="projects">
  <div class="container">
    <h1>projects</h1>
  </div>
</section>

<section class="content">
  <div class="container">
    <ul>
      <li>
        <%= link_to "food trucks near me", "http://www.foodtrucksnear.me" %>
        <%= link_to "github", "http://github.com/kellyjosephprice/food-trucks-near-me",
             class: "pull-right"%>
        <p>
          It'll parse Twitter feeds of food trucks for locations and make 
          them searchable.
          <span class="text-muted">
            I'm currently working on this project. The live site doesn't do 
            anything yet.
          </span>
        </p>
      </li>
      <li>
        <%= link_to "ramblr", "http://www.ramblr.co" %>
        <%= link_to "github", "http://github.com/kellyjosephprice/ramblr",
             class: "pull-right"%>
        <p>
          A yelp-like with a minimal design. It's a Backbone.js 
          single page app that consumes a Rails API. It uses the jQuery auto-complete
          plugin and custom Rails controllers for full-text searches of the database.
          Every API route is russian-doll cached.
        </p>
      </li>
      <li>
        <%= link_to "Uncle Worm", "http://uncle-worm.herokuapp.com" %>
        <%= link_to "github", "http://github.com/kellyjosephprice/uncle_worm",
             class: "pull-right"%>
        <p>
          A remake of an old TI-83 classic in pure javascript and HTML canvas drawing.
        </p>
      </li>
      <li>
        <%= link_to "too loud", "http://too-loud.herokuapp.com" %>
        <%= link_to "github", "http://github.com/kellyjosephprice/too-loud",
             class: "pull-right"%>
        <p>
          It uses the HTML5 Web Audio API to listen to the volume level
          and sends a text message when it's too loud. Also uses: RequireJS, 
          Backbone.js, and D3.js.
          <span class="text-muted">
            I did this for a job application over two days, but I thought it 
            was cool enough to show off. 
          </span>
        </p>
      </li>
    </ul>
  </div>
</section>

<section class="parallax parallax-3" id="social">
  <div class="container">
    <h1>social</h1>
  </div>
</section>

<!--
  icons from:
  http://martz90.deviantart.com/art/Circle-Icons-Pack-371172325
-->
<% cdn = "http://d2833kcnr725xh.cloudfront.net" %>
<section class="content">
  <div class="container social">
    <a class="col-xs-6 col-sm-3" href="mailto:kellyjosephprice@gmail.com">
      <img alt="kellyjosephprice@gmail.com" src="<%= "#{cdn}/gmail-logo.png" %>">
    </a>
    <a class="col-xs-6 col-sm-3" href="http://github.com/kellyjosephprice">
      <img alt="github" src="<%= "#{cdn}/github-mark.png" %>">
    </a>
    <a class="col-xs-6 col-sm-3" href="https://www.linkedin.com/pub/kelly-price/22/760/a11">
      <img alt="linkedin" src="<%= "#{cdn}/linkedin-logo.png" %>">
    </a>
    <a class="col-xs-6 col-sm-3" href="http://kellyjosephprice.tumblr.com">
      <img alt="blog" src="<%= "#{cdn}/tumblr-logo.png" %>">
    </a>
  </div>
</section>
